:root{
    --background-color: rgb(122, 255, 224);
    --header-background-color: #1fe8cb;
    --header-font-color:#35707d;
    --fonts: Impact, fantasy;
    --main-message-color: green;
    --field-background-color: rgb(100, 181, 173) ;
    --field-background-color-hover: rgb(89, 155, 148);
    --border-color: rgb(173, 172, 172);
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonts);
}

body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* HEADER */

header{
    background-color: var(--header-background-color);
    min-height: 100px;
    height: 20vh;
    width: 100vw;
}

.title{
    text-align: center;
    align-items: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 7rem;
    color: var(--header-font-color);
}

/* MAIN */
.main{
    padding-block: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
}

.message{
    font-size: 3rem;
    text-align: center;
}

.gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    border: 2px solid var(--border-color);
    height: 450px;
    width: 450px;
}

.field{
    width: 145px;
    height: 145px;
    border: 2px solid var(--border-color);
    background-color: var(--field-background-color);
    padding: 0;
    cursor: pointer;
    text-align: center;
    font-size: 100px;
    user-select: none;
}

.field:hover,
.restart-button:hover{
    background-color: var(--field-background-color-hover);
}

.restart-button{
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    background-color: var(--field-background-color);
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .github-icon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .github-icon:hover {
    transform: rotate(360deg) scale(1.2);
  }